@namespace url(http://www.w3.org/1999/xhtml);

* {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  background-image:none !important;
  background-color:#fff !important;
  border-color:#666666 !important;
  border: none !important;
  text-decoration:none !important;
  color: #000 !important;
  font-size:20px !important;
  font-weight:normal !important;
  padding:0.15em !important;
  margin:0 !important;
  margin-left:auto !important;
  margin-right:auto !important;
  line-height:1.7em !important;
  text-indent:0 !important;
  text-align: left !important;
  white-space: normal !important;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif !important;
  float:none !important;
  clear:both !important;
  position:relative !important;
  width:auto  !important;
  min-width: initial !important;
  max-width: initial !important;
  height:auto  !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
  text-shadow: none !important;
  overflow: visible !important;
}

/*
@media only screen and 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
*/

body {
  text-align:center !important;
}

body div {
  width: 800px !important;
  margin: 0 auto !important;
}

/*
img {
  opacity:0.3 !important;
  height:10% !important;
  width:10% !important;
}

img:hover {
  opacity:0.9 !important;
  height:auto !important;
  width:auto !important;
}
*/

a, a * {
  color: #1B67B6 !important;
  text-decoration:none !important;
  background-color: transparent !important;
}

a:visited {
  color:#a50 !important;
}

a:hover, a:hover *{
  text-decoration:underline !important;
}

p {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h1, h1 * {
  font-weight: bolder !important;
  font-size: 24px !important;
}

h2, h2 * {
  font-weight: bolder !important;
  font-size: 20px !important;
}

h3, h3 * {
  font-weight: bold !important;
  font-size: 18px !important;
}

b {
  font-weight: bold !important;
}

/* INITIAL SATATE -> thumbnail */
button,
input,
select,
option,
textarea{
  color:#f00 !important;
  padding:0.05em !important;
  height:auto !important;
}

table {
  border:none !important;
}

table td,
table th {
  border:none !important;
  border-color: #D4D4D4 !important;
}

blockquote, pre, code {
  display: block !important;
  font-style: italic !important;
  border:1px dashed #999 !important;
  width: 90% !important;
  padding: 10px !important;
  background-color: #f7f9f9 !important;
}

blockquote *, pre * {
  border: none !important;
  background-color: #f7f9f9 !important;
}

/* DISABLE BANNER */
#header, #footer, #menu,
#adsence, #banner,
aside,
script,
object,
header,
footer,
nav,
iframe,
form,
#content-header,
#contents-header,
#contentsHeader,
#str-header,
#global-navi,
#local-navi,
#navi_right,
#navi_left,
#cmnNav,
#yschiy,
#yschec,
#adLrec,
#pos-lrec,
#pos-sqb,
#wrap,
#brandpanel,
#COIDP,
#sub,
#extra,
#comment,
#comments,
#secondary,
#calendar,
.comment,
.comments,
.subtitle,
.side,
.banner,
.calendar,
.left,
.right,
.content-header,
.header,
.footer,
.links-left,
.links,
.contents-header,
.LyTop,
.LySub,
.yschspns,
.ynbox_side,
.ad-center,
.ad-outer,
.article-pager-type2,
.ad_space,
.amazon_hot_item_entry,
.socialButton,
.wrap {
  display:none !important;
  margin: 0px !important;
  padding: 0px !important;
  height: 0px !important;
  width: 0px !important;
}
